@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* stylelint-disable-next-line unknownAtRules */
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}
